.cont {
    background-color: aqua;
    width: 1000px;
    height: 700px;
}

.airplane {
    background-color: #e23804;
    width: 100px;
    height: 50px;
    position: relative;
}

.worm {
    background-color: #0ac739;
    width: 30px;
    height: 20px;
    position: relative;
}


/**/
.add__button {
    display: block;
    margin-bottom: 20px;
    ;
}

.content {
    font-size: 100px;
    padding-left: 50px;
}

.add__button {
    margin-left: 42px;
}

.button {
    display: block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.wrapper-button {
    width: 220px;
    display: flex;
    flex-wrap: wrap;
}